.html, .body {
    margin: 0;
    padding: 0;
}

.body {
    background-image: url('../assets/background.svg');
    background-size: cover;
    height: 100vh;
}

.pageContent {
    padding-top: 56px;
    height: calc(100% - 56px);
    width: 100%;
}