
.button {
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    flex-wrap: nowrap;
    border: none;
    outline: none;

    width: fit-content;
    height: fit-content;
}

.button:hover {
    cursor: pointer;
}

